.hide {
  display: none !important;
}
  
.w-container {
  margin: 0 auto;
  width: 600px;
}
  
  textarea {
    resize: none;
  }
  
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #4caf50;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
  }
  
  .loader-wrap {
    display: flex;
    padding-top: 50px;
    justify-content: center;
  }
  
  .w-panel-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .multi-line {
    white-space: pre-line;
  }