@font-face {
  font-family: 'Roboto-Black';
  src:  url('../../fonts/Roboto-Black/Roboto-Black.eot?tiyxy1');
  src:  url('../../fonts/Roboto-Black/Roboto-Black.eot?tiyxy1#iefix') format('embedded-opentype'),
  url('../../fonts/Roboto-Black/Roboto-Black.ttf?tiyxy1') format('truetype'),
  url('../../fonts/Roboto-Black/Roboto-Black.woff?tiyxy1') format('woff'),
  url('../../fonts/Roboto-Black/Roboto-Black.svg?tiyxy1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src:  url('../../fonts/Roboto-Thin/Roboto-Thin.eot?tiyxy1');
  src:  url('../../fonts/Roboto-Thin/Roboto-Thin.eot?tiyxy1#iefix') format('embedded-opentype'),
  url('../../fonts/Roboto-Thin/Roboto-Thin.ttf?tiyxy1') format('truetype'),
  url('../../fonts/Roboto-Thin/Roboto-Thin.woff?tiyxy1') format('woff'),
  url('../../fonts/Roboto-Thin/Roboto-Thin.svg?tiyxy1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}