* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  &:focus {
    outline: none;
    text-decoration: none;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $scrollbar-bg-color;
  }
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: $scrollbar-bg-color;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $scrollbar-color;
  }
}

body {
  position: relative;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
  color: $mainFontColor;
  background: $c-white;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
}

a {
  color: $mainFontColor;
  transition: color .35s $easing;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

li:focus {
  outline: none;
}

img {
  width: 100%;
  object-fit: cover;
  display: inline-block;
  border: none;
  outline: none;
}

ul {
  margin-bottom: 0;
}

p {
  margin: 0;
}