//Font
$mainFont              : Montserrat, sans-serif;
$f-prata               : Prata, serif;

//Main color
$c-black               : #191919;
$c-white               : #ffffff;
$c-gray                : #d1d1d1;
$c-gold                : #cfa167;
$success-color         : #26de81;
$danger-color          : #fc5c65;
$warning-color         : #fed330;
$scrollbar-color       :$c-gold;
$scrollbar-bg-color    :#f5f5f5;

//Size
$mainFontSize          : 16px;
$mainFontColor         :#191919;
$mainFontWeight        : 400;
$mainLineHeight        : 1.4;



$easing: cubic-bezier(0.2, 0.1, 0.2, 1);